<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Edit Hike</title>
</head>
<body class="editpage">
    <h1>Edit Hike</h1>
    <div class="hikelinks">
    <a style="color: white" href="/hikes">Cancel</a>
    </div>
    <div class="hikelinks">
    <a style="color: white" href="/">Go Back Home</a>
    </div>

    <form class= "edit" action="/hikes/<%= hike._id %>?_method=PUT" method="POST">
        <textarea name="Name" cols="20" rows="5"><%= hike.Name %></textarea>
        <textarea name="Location" cols="20" rows="5"><%= hike.Location %></textarea>
        <textarea name="Intensity" cols="20" rows="5"><%= hike.Intensity %></textarea>
        <textarea name="Length" cols="20" rows="5"><%= hike.Length %></textarea>
        <input class="button2" type="submit" value="Update Hike">
    </form>

</body>
</html>