<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Here are all the Hikes</title>
</head>
<body class="hikesbody">
    <h1 class= "hikes">Here are all your hikes</h1>
    <div class="hikelinks">
    <a href="/"style="color: white" >Go Back Home</a>
    </div>
    <div class="hikelinks">
    <a href="/hikes/new" style="color: white">Add A New Hike</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Length</th>
                <th>Intensity</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% hikes.forEach(function(hike) { %>
                <tr>
                    <td>
                        <%= hike.Name %>
                    </td>
                    <td>
                        <%= hike.Length %>
                    </td>
                    <td>
                        <%= hike.Intensity %>
                    </td>
                    <td>
                        <%= hike.Location %>
                    </td>
                    <td>
                        <form action="/hikes/<%= hike._id %>?_method=DELETE" method="POST">
                            <input class="button" type="submit" value="DELETE">
                        </form>
                        <a style="color:pink" href="/hikes/<%= hike._id %>/edit">EDIT</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>